<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap" rel="stylesheet">
    <title>Skin App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="upload-container">
            <form method="POST" enctype="multipart/form-data" class="card">
                <h1>Sube una imagen y comienza a aprender</h1>
                <input type="file" name="image" accept="image/*" id="fileInput">
                <!-- Image preview -->
                <img id="preview" class="preview" alt="Image preview">
                {% if result %}
                <img src="data:image/jpeg;base64,{{ result.cam }}" class="grad">
                {% endif %}
                <button type="submit" id="submitBtn">Predict</button>
                {% if result %}
                <div class="result">
                    <h3>Top 3 Predictions</h3>
                    <ul>
                        {% for label, confidence in result.predictions %}
                        <li>
                            <span class="label">{{ label }}</span>
                            <span class="conf">{{ "%.2f%%"|format(confidence * 100) }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </form>
            <div class="img-container">
                <img src="../static/assets/icon-img.png" class="icon-photo"/>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
